<div class="download-app-container">
  <div class="row">
    <div class="col-12 col-md-6 mb-4 text-center text-md-left mb-md-0">
      <div class="">
        <img
          src="assets/images/download_app_mobile.png"
          alt=""
          class="png"
          width="350px"
        />
      </div>
    </div>
    <div class="col-12 col-md-6 text-center text-md-left my-md-auto mb-4">
      <div>
        <div class="mb-5">
          <div>
            <span class="font-50 font-white">Download</span>
          </div>
          <div>
            <span class="font-50 font-white">our App</span>
          </div>
        </div>
        <div class="mb-4">
          <div>
            <span class="font-16 font-light-red">
              Our app gives you access to your favourite restaurants.
            </span>
          </div>
          <div>
            <span class="font-16 font-light-red">
              Get your food delivered right to you
            </span>
          </div>
        </div>
        <div
          class="d-md-flex d-block text-center justify-content-center justify-content-md-start"
        >
          <div
            class="d-flex store-benar align-items-center mr-md-1 mx-auto mx-md-0 mb-md-0 mb-4"
          >
            <div class="mr-1">
              <img
                src="assets/images/apple_store_icon.svg"
                width="40px"
                alt=""
              />
            </div>
            <div>
              <div>
                <div>
                  <span class="text-uppercase font-white">Download on the</span>
                </div>
              </div>
              <div>
                <div>
                  <span class="font-16 font-white">App Store</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex store-benar align-items-center mx-auto mx-md-0">
            <div class="mr-1">
              <img
                src="assets/images/google_play_icon.svg"
                width="40px"
                alt=""
              />
            </div>
            <div>
              <div>
                <div>
                  <span class="text-uppercase font-white">Get it on</span>
                </div>
              </div>
              <div>
                <div>
                  <span class="font-16 font-white">Google Play</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
