<div class="header-container">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="mr-3 d-block d-lg-none">
          <img
            src="assets/images/menu-icon.svg"
            alt=""
            (click)="responsivemenu = !responsivemenu"
          />
        </div>
        <div>
          <img src="assets/images/gogrubz-img.png" alt="" width="75px" />
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <div>
        <ul class="nav-list d-flex justify-content-between align-items-center">
          <li class="nav-item active"><span>Order</span></li>
          <li class="nav-item"><span>Locations</span></li>
          <li class="nav-item"><span>Contact Us</span></li>
          <li class="nav-item"><span>About Us</span></li>
          <li class="nav-item"><span>Add your restaurant</span></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-3">
          <img
            src="assets/images/sign-up.svg"
            alt=""
            width="20px"
            class="d-block d-sm-none"
          />
          <button type="button" class="btn btn-primary d-none d-sm-block">
            Sign Up
          </button>
        </div>
        <div>
          <img
            src="assets/images/sign-in.svg"
            alt=""
            width="20px"
            class="d-block d-sm-none"
          />
          <button type="button" class="btn btn-secondary d-none d-sm-block">
            Sign In
          </button>
        </div>
      </div>
    </div>
    <div class="responsive-menu d-block d-lg-none" *ngIf="responsivemenu">
      <ul class="nav-list">
        <li class="nav-item active"><span>Order</span></li>
        <li class="nav-item"><span>Locations</span></li>
        <li class="nav-item"><span>Contact Us</span></li>
        <li class="nav-item"><span>About Us</span></li>
        <li class="nav-item"><span>Add your restaurant</span></li>
      </ul>
    </div>
  </div>
</div>
