<div class="find-the-container">
  <div class="row">
    <div class="col-12 col-md-6 mb-5 mb-md-0">
      <div class="text-center text-md-left">
        <div class="mb-5">
          <div>
            <span class="font-50 font-black">Find the perfect</span>
          </div>
          <div>
            <span class="font-50 font-black">cuisine for you.</span>
          </div>
        </div>
        <div class="mb-4">
          <div>
            <span class="font-16 font-gray">
              Start swiping right for your taste buds - you'll soon find the
              cuisine
            </span>
          </div>
          <div>
            <span class="font-16 font-gray">
              that's a perfect match for your cravings.
            </span>
          </div>
        </div>
        <div>
          <div>
            <button class="btn btn-secondary">Discover Cuisines</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="group-lunch text-center text-md-right">
        <img
          src="assets/images/group-lunch.jpeg"
          alt=""
          class="png"
          width="350px"
        />
      </div>
    </div>
  </div>
</div>
