<div class="why-go-out-container">
  <div class="row">
    <div class="col-12 col-md-6 order-2 order-md-1">
      <div class="text-center text-md-left">
        <div class="mb-5">
          <div>
            <span class="font-50 font-white">Why Go out when,</span>
          </div>
          <div>
            <span class="font-50 font-white">you can Grubz in</span>
          </div>
        </div>
        <div class="mb-5 text-center text-md-left">
          <div
            class="input-search d-flex align-items-center text-center justify-content-between mx-auto mx-md-0"
          >
            <!-- <img src="assets/images/send_fill_icon.svg" alt="" /> -->
            <input
              type="text"
              placeholder="Enter postcode or delivery address"
            />
            <button class="btn search-btn">Search</button>
          </div>
        </div>
        <div
          class="d-flex align-items-center justify-content-center justify-content-md-start text-center"
        >
          <div class="mr-4">
            <div>
              <span class="font-28 font-white">230</span>
            </div>
            <div>
              <span class="font-16 font-white">Restaurants</span>
            </div>
          </div>
          <div>
            <div>
              <span class="font-28 font-white">30,000</span>
            </div>
            <div>
              <span class="font-16 font-white">Users</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-2">
      <div class="text-center text-md-right">
        <img
          src="assets/images/Flying-Burger.png"
          alt=""
          width="350px"
          class="png"
        />
      </div>
    </div>
  </div>
</div>
