<div class="footer-container">
  <div class="row">
    <div class="col-lg-6 col-12 order-2 order-lg-1 d-flex align-items-end">
      <div class="row">
        <div class="col-12 mb-2">
          <div>
            <div class="mb-4 mt-3">
              <img src="assets/images/gogrubz-red-img.png" alt="" />
            </div>
            <div>
              <span>© 2022 GoGrubz LTD.All Rights Reserved.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-12 order-1 order-lg-2">
      <div class="row">
        <div class="col-12 col-md-4 mb-2">
          <ul>
            <li class="font-gray">Get Help</li>
            <li class="font-gray">Buy gift cards</li>
            <li class="font-gray">Add your restaurant</li>
            <li class="font-gray">Sign up to deliver</li>
            <li class="font-gray">Create a business account</li>
            <li class="font-gray">Promotions</li>
          </ul>
        </div>
        <div class="col-12 col-md-4 mb-2">
          <ul>
            <li class="font-gray">Restaurants near me</li>
            <li class="font-gray">View all cities</li>
            <li class="font-gray">View all countries</li>
            <li class="font-gray">Pickup near me</li>
            <li class="font-gray">About Us</li>
            <li class="font-gray">English</li>
          </ul>
        </div>
        <div class="col-12 col-md-3 mb-2 d-flex align-items-center">
          <div>
            <div class="mb-2">
              <div class="text-center">
                <span>FOLLOW US</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div>
                <img
                  width="25px"
                  src="assets/images/facebook_icon.svg"
                  alt=""
                />
              </div>
              <div>
                <img
                  width="25px"
                  src="assets/images/instagram_icon.svg"
                  alt=""
                />
              </div>
              <div>
                <img width="25px" src="assets/images/twitter_icon.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
